.rounded-input button {
    border-radius: 42px 0px 0px 42px;
    border-right: none;
}

.rounded-input button i {
    font-size: 24sp;
}

.rounded-input input {
    border-radius: 0px 42px 42px 0px;
    border-left: none;
}

.border-bottom-unset {
    border-bottom: unset;
}

.fw-bolder {
    font-weight: bolder;
}

.cert-panel {
    border-radius: 20px;
    border: 1px solid #31A8CD;
    box-shadow: 0 4px 8px 1px #31A8CD;
}

.cert-panel .panel-heading {
    padding: unset;
    border-radius: 20px 20px 0px 0px;
}

.cert-panel .panel-footer {
    border-radius: 0px 0px 20px 20px;
    background-color: unset;
    border-top: unset;
}

.pdf {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 20px 20px 0px 0px;
}

.cert-title {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 3px;
}

.cert-subtitle {
    font-size: 16px;
    color: #31A8CD;
    margin-bottom: 15px;
}

.cert-description {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    opacity: 0.5;
}

.cert-button {
    font-size: 16px;
    font-weight: bolder;
    color: white;
    background-color: #31A8CD;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
}

.mb-3 {
    margin-bottom: 30px;
}

.pm-text-description {
    font-size: 20px;
    text-align: justify;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.pm-container-blue {
    background-color: rgba(49, 168, 205, .7);
    color: black;
    border-radius: 20px;
    padding: 20px;
}

.pm-container-blue hr {
    border-top: 1px solid black;
}

.pm-container-blue ul {
    padding-left: 20px;
    font-size: 18px;
}

.pm-inner-container-white {
    border-radius: 20px;
    background-color: white;
    padding: 15px;
    font-size: 18px;
}

.pm-inner-container-white .h4 {
    text-align: center;
}

.pm-inner-container-white label {
    font-weight: 400 !important;
    color: #555;
}

.pm-inner-container-white .form-control {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid black !important;
    box-shadow: unset !important;
    border-radius: 0px !important;
    padding: 0px !important;
    color: black;
}

.mt-3 {
    margin-top: 30px;
}

.mt-2 {
    margin-top: 20px;
}

.panel-group {
    margin-bottom: 10px !important;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-group .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-group .panel-title {
    font-size: 14px;
}

.panel-group .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.panel-group .more-less {
    float: right;
    color: #212121;
}

.panel-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.d-block {
    display: block;
}

.input-file {
    background-color: #FFFFFF !important;
    color: #212529 !important;
}

.text-white {
    color: white !important;
}

.pm-table {
    font-size: 18px;
    color: black;
}

.pm-table tr td {
    padding: 5px;
    padding-left: 0px;
}

.p-1 {
    padding: 10px;
}

.navbar-button {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
.navbar-button li {
    display: inline-flex;
}
.navbar-button li a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p-0 {
    padding: 0px !important;
}

.pd-img-user {
    /* max-width: 280px;
    max-height: 280px; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fs-18 {
    font-size: 18px;
}

.hr-1 {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.badge-danger {
    background-color: #DC3545;
    color: white;
}

.badge-success {
    background-color: #198754;
    color: white;
}

.mt-2 {
    margin-top: 20px;
}

.card-shadow {
    box-shadow: 4px 3px rgba(17, 205, 239, 0.65);
}

.w-100 {
    width: 100%;
}
